.sep_bk{
    display: block;
    ion-label{
        display: block;
    }
    small{
        display: block;
    }
}

ion-card-content{
    h3{
        font-size: 18px;
        color: black;
        margin: 5px 0;
    }
}

.a_dep_container{
    text-decoration: none;
}