ion-item{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1em 0;

    ion-label{
        color: rgba(0, 0, 0, 0.5);
    }

    ion-button{
        button{
            border-radius: 0 !important;
        }
    }
}
.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.error-message{
    color: red;
    margin: 10px 0;
    font-size: 14px;
}

.alert-error{
    margin: 0;
}