<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div  class="container_logo">
          <ion-img src="assets/logo.png" class="container_logo_auth"></ion-img>
        </div>
        <ion-card class="card_auth">
          <ion-card-content>
            <app-login *ngIf="option === 'login'" ></app-login>
            <app-register *ngIf="option === 'register'" ></app-register>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-segment mode="ios" [value]="option" (ionChange)="cambio($event)">
      <ion-segment-button value="login">
        <ion-label>Iniciar sesión</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Registrarme</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
