<div class="cat_title">
  <h3>Grupos de Investigación</h3>
  <a *ngIf="groups.length"  [routerLink]="['/home/groups']">Ver Todos</a>
</div>
<ion-slides pager="false" [options]="slidesOpts" *ngIf="groups.length >0">
  <ion-slide *ngFor="let group of groups">
    <ion-row>
      <ion-col size="12" > 
        <app-group [group]=group></app-group>
      </ion-col>
    </ion-row>
  </ion-slide>
</ion-slides>
<ion-row *ngIf="groups.length === 0 && !loading" >
  <ion-col size="12">
    <app-empty [title_message]="'No hay grupos de investigación'" ></app-empty>
  </ion-col>
</ion-row>

<div class="loading_box" *ngIf="loading"> 
  <ion-spinner  name="bubbles"></ion-spinner>
</div>

