<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios Encargados</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs'" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content> 
  </ion-refresher>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngIf="admin">
          <ion-text color="primary" class="ion-text-center">
            <h2>Encargados</h2>
          </ion-text>
          <app-user [admin]="true" [edit]="false" *ngFor="let teacher of teachers" [user]="teacher"></app-user>
          <app-empty [title_message]="'No hay usuarios'" *ngIf="teachers.length === 0" ></app-empty>
          <div class="container_button">
            <a *ngIf="teachers.length === 0"  routerLink="/home/users/add" >
              Agregar usuario
            </a>
          </div>
      </ion-col>
      <ion-col size="12" *ngIf="specific">
        <ion-text color="primary" class="ion-text-center">
          <h2>Solicitudes</h2>
        </ion-text>
        <ion-text class="ion-text-center">
          <p style="color: gray;">Estas son las solicitudes de participación pendientes por cada semillero al cual perteneces</p>
        </ion-text>
        <div *ngFor="let item of seedlings">
          <ion-text color="primary" class="ion-text-left">
            <h4>{{ item.name }}</h4>
          </ion-text>
          <app-user (update)="refreshUser()" *ngFor="let student of item.users" [user]="student" [edit]=false></app-user>
          <app-empty [title_message]="'No hay solicitudes pendientes'" *ngIf="item.users.length === 0"></app-empty>
        </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>