ion-item{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1em 0;

    ion-label{
        color: rgba(0, 0, 0, 0.5);
    }

    ion-button{
        button{
            border-radius: 0 !important;
        }
    }
}

p{
    color: gray;
}

a{
    text-decoration: none;
    display: block;
    text-align: center;
}

ion-img{
    width: 80px;
    margin: 0 auto;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
}

.error-message{
    color: red;
    margin: 10px 0;
    font-size: 14px;
}