<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="id === '1'">Actualizar Perfil</ion-title>
    <ion-title *ngIf="id === '2'">Actualizar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs'" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-profile *ngIf="id === '1' && user" [loggedUser]='user'></app-profile>
  <div>
    <app-update-password *ngIf="id === '2' && user" [loggedUser]='user'></app-update-password>
  </div>
</ion-content>