<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{ group.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs'" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/fondo-3.jpg"/>
  <div class="container_single">
    <ion-text color="primary">
    </ion-text>
    <p>{{ group.description }}</p>
  </div>
  <div class="separator"></div>
  <div class="container_single">
    <ion-text color="primary">
      <h2>Semilleros Asociados</h2>
    </ion-text>
    <app-one-seedling *ngFor="let seedling of group.seedlings ; let i = index" [seedling]="seedling" [imgVisible]=false [value]= i></app-one-seedling>
  </div>
  <div class="separator"></div> 
  <div class="container_single">
    <ion-text color="primary">
      <h2>Líneas de investigación</h2>
    </ion-text>
    <app-one-line *ngFor="let line of group.lines ; let i = index" [line]="line" [value]= i></app-one-line>
  </div>
</ion-content>