<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Departamentos
    </ion-title>
    <ion-buttons slot="end">
      <app-header-action></app-header-action>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content> 
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Departamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-department *ngFor="let department of departments ; let i = index" [department]=department [value]= i></app-department>
  <app-empty [title_message]="'No hay departamentos disponibles'" *ngIf="departments.length === 0"  ></app-empty>
  <div class="container_add_button" *ngIf="admin && departments.length === 0">
    <a routerLink="/home/departments/add"  class="add_group_link ion-text-center">
      Crear departamento
    </a>
  </div>
</ion-content>