<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Departamentos
    </ion-title>
    <ion-buttons slot="end">
      <app-header-action></app-header-action>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Departamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-department *ngFor="let department of departments ; let i = index" [department]=department [value]= i></app-department>
</ion-content>