.dpt_font{
    background-color:  #0069a3;
}

.dpt_font_2{
    background-color:  #ffc935;
}

.dpt_w{
    color: white;
}

.dpt_w_2{
    color:  #0069a3;
}

ion-toolbar{
    display: flex;

    .action{
        margin-left: auto;
    }
}

.add_group_link{
    margin: 0 auto;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #1e91d4;
    padding: 4px 8px;
    border-radius: 15px;
}

.container_add_button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -1em;
}