.dpt_font{
    background-color:  #0069a3;
}

.dpt_font_2{
    background-color:  #ffc935;
}

.dpt_w{
    color: white;
}

.dpt_w_2{
    color:  #0069a3;
}

ion-toolbar{
    display: flex;

    .action{
        margin-left: auto;
    }
}