<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Departamentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Depaartamentos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="dpt_font">
    <ion-card-header>
      <ion-card-subtitle class="dpt_w">Card Subtitle</ion-card-subtitle>
      <ion-card-title>
        <h1 class="dpt_w">
          Departamento 1
        </h1> 
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="dpt_font_2">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>
        <h1 class="dpt_w_2">
          Departamento 2
        </h1> 
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="dpt_font">
    <ion-card-header>
      <ion-card-subtitle class="dpt_w">Card Subtitle</ion-card-subtitle>
      <ion-card-title>
        <h1 class="dpt_w">
          Departamento 3
        </h1> 
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="dpt_font_2">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>
        <h1 class="dpt_w_2">
          Departamento 4
        </h1> 
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
