.dpt_font{
    background-color:  #ffc935;
}
.dpt_font_2{
    background-color:  #0069a3;
}

.dpt_w{
    color:  #0069a3;
}

.dpt_w_2{
    color: white;
}

.a_dep_container{
    text-decoration: none;
}