<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <app-header-action></app-header-action>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid fixed *ngIf="admin" >
    <ion-row>
      <ion-col size="4">
        <a routerLink="/home/programs" class="btn_enlace">
          Programas
        </a>
      </ion-col>
      <ion-col size="4">
        <a routerLink="/home/lines" class="btn_enlace">
          Lineas
        </a>
      </ion-col>
      <ion-col size="4">
        <a routerLink="/home/users" class="btn_enlace">
          Usuarios
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab *ngIf="!loading && admin"  vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-label *ngIf="visibleButtonList"  >Agregar</ion-label>
    <ion-fab-button (click)="visibleButtonList = !visibleButtonList">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="ion-margin-bottom">
        <ion-label>Linea</ion-label>
        <ion-fab-button (click)="navigate('/home/lines/add')" color="primary">
          <ion-icon name="git-compare"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">
        <ion-label>Grupo</ion-label>
        <ion-fab-button (click)="navigate('/home/groups/add')" color="primary">
          <ion-icon name="people"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">  
        <ion-label>Semillero</ion-label>
        <ion-fab-button (click)="navigate('/home/seedlings/add')" color="primary">
          <ion-icon name="server"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">
        <ion-label>Departamento</ion-label>
        <ion-fab-button (click)="navigate('/home/departments/add')" color="primary">
          <ion-icon name="grid"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">
        <ion-label>Programa</ion-label>
        <ion-fab-button (click)="navigate('/home/programs/add')" color="primary">
          <ion-icon name="book"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">
        <ion-label>Usuario</ion-label>
        <ion-fab-button (click)="navigate('/home/users/add')" color="primary">
          <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>
  </ion-fab>

  <ion-fab *ngIf="!loading && encargado"  vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-label *ngIf="visibleButtonList"  >Agregar</ion-label>
    <ion-fab-button (click)="visibleButtonList = !visibleButtonList">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <div class="ion-margin-bottom">
        <ion-label>Publicación</ion-label>
        <ion-fab-button (click)="navigate('/home/publications/add')" color="primary">
          <ion-icon name="newspaper"></ion-icon>
        </ion-fab-button>
      </div>
      <div class="ion-margin-bottom">
        <ion-label>Solicitudes</ion-label>
        <ion-fab-button (click)="navigate('/home/users')" color="primary">
          <ion-icon name="hand-right"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-fab-list>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content> 
  </ion-refresher>

  <div *ngIf="!loading" >
    <app-home-group [user]="loggedUser"  ></app-home-group>
    <app-home-seedling [user]="loggedUser" ></app-home-seedling>
    <app-home-publication [user]="loggedUser" ></app-home-publication>
  </div>
  <div *ngIf="loading" >
    <div >
      <div class="ion-no-padding custom-skeleton">
        <h1 class="title_skeleton ion-margin-start" >
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h1>
        <ion-card class="ion-no-padding skeleton_card">
          <ion-card-content class="ion-no-padding">
            <ion-slide class="slide_skeleton">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-slide>
            <h3 class="title_slide">
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-card-content>
        </ion-card>
        <h1 class="title_skeleton ion-margin-start" >
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h1>
        <ion-card class="ion-no-padding skeleton_card">
          <ion-card-content class="ion-no-padding">
            <ion-slide class="slide_skeleton">
              <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
            </ion-slide>
            <h3 class="title_slide">
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
