<ion-header>
  <ion-toolbar>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/user.svg">
  <div class="container_single">
    <ion-text color="primary">
      <h2 class="ion-text-left ion-padding-start">{{ user.name }} {{ user.lastname}}</h2>
    </ion-text>
    <ion-text>
      <h3>Correo Elcetrónico</h3>
      <h4>{{ user.email }}</h4>
    </ion-text>
    <ion-text>
      <h3>Teléfono Celular</h3>
      <h4>{{ user.email }}</h4>
    </ion-text>
    <ion-text>
      <h3></h3>
      <h4>{{ user.email }}</h4>
    </ion-text>
  </div>

</ion-content>
