<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ toEdit ? 'Editar ' : 'Agregar' }} departamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <div class="img_container">
      <img src="assets/images/conexion.svg" class="img_add" alt="">
    </div>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="department" (ngSubmit)="toEdit ? updateDepartment() : addDepartment()" >
          <ion-item>
            <ion-icon slot="end" class="ion-align-self-center" name="pricetag"></ion-icon>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="name" ></ion-input>
          </ion-item>
          <div class="error-message error_custom" *ngIf="error_unprocesable.name" >
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            {{ error_unprocesable.name[0] }}
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message" *ngIf="department.get('name').hasError(validation.type) && (department.get('name').dirty || department.get('name').touched)">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-icon slot="end" class="ion-align-self-center" name="reader"></ion-icon>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea formControlName="description" [rows]="5"></ion-textarea>
          </ion-item>
          <div class="error-message error_custom" *ngIf="error_unprocesable.description" >
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            {{ error_unprocesable.description[0] }}
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.description">
              <div class="error-message" *ngIf="department.get('description').hasError(validation.type) && (department.get('description').dirty || department.get('description').touched)">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-button type="submit" [disabled]="department.invalid" expand="block" >
            <span *ngIf="!sending" >
              {{ toEdit ? 'Editar' : 'Crear' }} departamento
            </span>
            <ion-spinner *ngIf="sending"  name="lines-small"></ion-spinner>
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
