<a routerLink='/home/groups/{{ group.id }}' class="a_dep_container">
<ion-card>
  <div class="container_img">
    <img src="https://www.ekosnegocios.com/image/posts/January2020/22NXIAeZA88t8Neo2q4i.jpg"/>
  </div>
  <ion-card-content class="ion-no-padding">
    <ion-card-title>{{ group.name.length > 27 ? group.name.substr(0, 27) + "..." : group.name }}</ion-card-title>
    <div class="group_desc">
      {{ group.description.length > 50 ? group.description.substr(0, 50) + "..." : group.description }}
    </div>
  </ion-card-content>
</ion-card>
</a>
