<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{ seedling.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs'" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/fondo-3.jpg"/>
  <div class="container_single">
    <ion-text color="primary">
      <h2 class="ion-text-left ion-padding-start">{{ seedling.name }}</h2>
    </ion-text>
    <p>{{ seedling.description }}</p>
  </div>

  <ion-spinner name="lines-small" class="ion-margin spinner_button" *ngIf="loading"></ion-spinner>
  <div *ngIf="pertenece === 0" class="alert_message">
    <span>
      Tu solicitud está siendo revisada
    </span>
  </div>
  <ion-button (click)="participar()" expand="block" class="ion-margin" *ngIf="pertenece === -1 && !loading">
    <span *ngIf="!sending">Participar</span>
    <ion-spinner name="lines-small" class="ion-text-center" *ngIf="sending"></ion-spinner>
  </ion-button>

  <div class="separator"></div>
  <div class="container_single">
    <ion-text color="primary">
      <h2>Encargados</h2>
    </ion-text>
    <app-user *ngFor="let teacher of teachers" [user]="teacher"></app-user>
  </div>
  <div class="container_single">
    <ion-text color="primary">
      <h2>Estudiantes</h2>
    </ion-text>
    <div *ngIf="students.length > 0">
      <app-user *ngFor="let student of students" [user]="student"></app-user>
    </div>
    <p *ngIf="students.length === 0" class="ion-text-center empty_alert">
      No hay estudiantes relacionados con el semillero
    </p>
  </div>
</ion-content>