<a routerLink='/home/seedlings/{{ seedling.id }}' class="a_dep_container">
  <ion-card mode='ios'>
    <img src="https://4.bp.blogspot.com/-EAQxpmFIIJU/Wq_on21M2uI/AAAAAAAAL9Y/1j5A2pdMlRAeRtbVimLIc5eygfhSIHNxgCLcBGAs/s1600/ciencia-investigacion.jpg" *ngIf="imgVisible"/>
    <ion-card-content>
      <ion-card-title>
        <h1>
          {{ seedling.name.length > 27 ? seedling.name.substr(0, 27) + "..." : seedling.name }}
        </h1>
      </ion-card-title>
      <p>{{ seedling.description.length > 50 ? seedling.description.substr(0, 50) + "..." : seedling.description }}</p>
      <small>{{ seedling.created_at|date }}</small>
    </ion-card-content>
  </ion-card> 
</a>