<ion-header>
  <ion-toolbar color="warning">
    <ion-title>{{ department.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs'" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/fondo-3.jpg"/>
  <div class="container_single">
    <p>{{ department.description }}</p>
  </div>
  <div class="separator"></div>
  <div class="container_single">
    <h2>Programas Asociados</h2>
    <app-one-program *ngFor="let program of department.programs" [program]="program" [imgVisible]=false></app-one-program>
  </div>
  <div class="separator"></div>
  <h2>Grupos Asociados</h2>
  <app-one-group *ngFor="let group of department.groups" [group]="group" [imgVisible]=false></app-one-group> 
</ion-content>