<form [formGroup]="user" (ngSubmit)="updatePassword()" >
  <ion-item>
    <ion-icon name="eye" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
    <ion-label position="floating">Contraseña Actual</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <div class="error-message error_custom" *ngIf="error.password" >
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    {{ error.password[0] }}
  </div>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div class="error-message" *ngIf="user.get('password').hasError(validation.type) && (user.get('password').dirty || user.get('password').touched)">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-icon name="eye" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
    <ion-label position="floating">Contraseña Nueva</ion-label>
    <ion-input formControlName="new_password" type="password"></ion-input>
  </ion-item>
  <div class="error-message error_custom" *ngIf="error.password" >
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    {{ error.password[0] }}
  </div>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div class="error-message" *ngIf="user.get('password').hasError(validation.type) && (user.get('password').dirty || user.get('password').touched)">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-icon name="eye" slot="end" position="floating" class="ion-align-self-center"></ion-icon>
    <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
    <ion-input formControlName="new_password_confirmation" type="password"></ion-input>
  </ion-item>
  <div class="error-message error_custom" *ngIf="error.password_confirmation" >
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    {{ error.password_confirmation[0] }}
  </div>
  <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.password_confirmation">
      <div class="error-message" *ngIf="user.get('password_confirmation').hasError(validation.type) && (user.get('password_confirmation').dirty || user.get('password_confirmation').touched)">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        {{ validation.message }}
      </div>
    </ng-container>
  </div>

  <ion-row>
    <ion-col size="12">
      <ion-button type="submit" [disabled]="user.invalid" expand="block" class="ion-no-margin" fill="solid">
        <span *ngIf="!sending" >
          Actualizar Contraseña
        </span>
        <ion-spinner *ngIf="sending"  name="lines-small"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</form>
